# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# VS Code
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
*.tmp

# Node
node_modules/

# Coverage
htmlcov/
.coverage
.coverage.*
.cache

# Test
*.pytest_cache/

# Other
*.orig
*.swo
*.swn

# Ignore compiled files
*.pyo
*.pyd

cloud-sql-proxy.exe